*{
    margin: 0px;
    padding: 0px;
}

.head{

    background: yellow;
    height: 120px;
    display: flex;
    justify-content: space-around;
 
    
}
.logo{
    margin-top: 30px;
    margin-right: 520px;
}
.cart{
    margin-top: 30px;
}
.cart sup
{
    font-size:30px;
}

#product{
    display: grid;
    grid-template-columns: auto  auto  auto;
    width: 70%;
    text-align:center;
    background: rebeccapurple;
    height: 100%;
    padding-top: 40px;
}
.main{
    display:flex;
}
.side_bar{
    background: lightseagreen;
    width: 30%;
    height: fit-content;

}
.total{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cart_card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.cart_card img{
width: 50px;
height: 50px;
}

.cart_card button{
background-color: red;
border: 0;
padding: 5px;
border-radius: 5px;
color: #fff;
cursor: pointer;
}

/* weather website */
.weather{
    background: salmon;
    height: fit-content;

}
.searcho{
    padding-top: 50px;

}
.searcho input{
    height: 45px;
    width: 200px;

}
.searcho button{
    background: green;
    height: 45px;
    color :white;
    width:40px

}
.why{
    margin-top: 150px;

}

.why h3{    margin-top: 20px;
}

.yleft {
    margin-top: 100;
    margin-left: 300;
}
.yleft img{
    height: 185px;
}
.yleft h3{
    margin-left: 127px;
    margin-top: 30px;

}
.yright{
    margin-left: 1300;
    margin-top: -242px;

}

.yright h3{
    margin-top: 20px;

}